Flask==2.3.2
flask-cors==3.0.10
Flask-PyMongo==2.3.0
pymongo==4.6.1
email-validator==2.1.0.post1
Flask-Mail==0.9.1
python-dotenv==1.0.1
bcrypt==4.1.2
PyJWT==2.8.0
scikit-learn==1.3.2
xgboost==2.0.3
tensorflow
torch
torchvision
Pillow
numpy
opencv-python
flask-bcrypt
gunicorn
